<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBookingManager" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ISessionManager" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ISessionManager1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IBookingManager1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IBookingManager2">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://5jr3xapi.navitaire.com/BookingManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager" contract="BookingManager.IBookingManager" name="BasicHttpBinding_IBookingManager" />
      <endpoint address="https://5jr3xapi.navitaire.com/SessionManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManager" contract="SessionManager.ISessionManager" name="BasicHttpBinding_ISessionManager" />
      <endpoint address="https://5jprodr4xapi.navitaire.com/SessionManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManager1" contract="NewSessionManager.ISessionManager" name="BasicHttpBinding_ISessionManager1" />
      <endpoint address="https://5jr3xapi.navitaire.com/BookingManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager1" contract="BookingManager.IBookingManager" name="BasicHttpBinding_IBookingManager1" />
      <endpoint address="https://5jprodr4xapi.navitaire.com/BookingManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager2" contract="NewBookingManager.IBookingManager" name="BasicHttpBinding_IBookingManager2" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="TAIS_SERVEREntities" connectionString="metadata=res://*/TAIS.csdl|res://*/TAIS.ssdl|res://*/TAIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=awsdbdata.chlhp7ltxo0j.ap-southeast-1.rds.amazonaws.com,1433;initial catalog=TAIS_SERVER;user id=aUserDB;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BCDMISEntities" connectionString="metadata=res://*/BCDMISEntities.csdl|res://*/BCDMISEntities.ssdl|res://*/BCDMISEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=awsdbdata.chlhp7ltxo0j.ap-southeast-1.rds.amazonaws.com,1433;initial catalog=BCDMIS;user id=aUserDB;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TravComEntities" connectionString="metadata=res://*/LocalTravcomEntiies.csdl|res://*/LocalTravcomEntiies.ssdl|res://*/LocalTravcomEntiies.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.6;initial catalog=TravCom;user id=sa;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TAISEntities" connectionString="metadata=res://*/TAISLocalEntities.csdl|res://*/TAISLocalEntities.ssdl|res://*/TAISLocalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.6;initial catalog=TAIS;user id=sa;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BCDMISLocalEntities" connectionString="metadata=res://*/BCDMISLocalEntities.csdl|res://*/BCDMISLocalEntities.ssdl|res://*/BCDMISLocalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.6;initial catalog=BCDMIS;user id=sa;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TAISLocalEntities" connectionString="metadata=res://*/TAISLocalEntities.csdl|res://*/TAISLocalEntities.ssdl|res://*/TAISLocalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.6;initial catalog=TAIS;user id=sa;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>