<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookingManager"
                         maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISessionManager"
                         maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
                    <security mode="Transport" />
                </binding>
             
            </basicHttpBinding>
          
        </bindings>
        <client>
            <endpoint address="https://5jr3xapi.navitaire.com/BookingManager.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager"
                contract="BookingManager.IBookingManager" name="BasicHttpBinding_IBookingManager" />
            <endpoint address="https://5jr3xapi.navitaire.com/SessionManager.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManager"
                contract="SessionManager.ISessionManager" name="BasicHttpBinding_ISessionManager" />
        </client>
    </system.serviceModel>
</configuration>